@page
@model MuruganRestaurant.Pages.Account.LogoutModel
@{
    ViewData["Title"] = "Logout";
}

<div class="container mt-5">
    <div class="alert alert-info">
        <h4>Logging out...</h4>
        <p>You will be redirected to the login page.</p>
    </div>
</div>